<div class="container baner">
  <div class="row">
    <div class="col baner">
      <!-- <h1 class="sticky-top"> האתר סגור המכירה הסתיימה</h1> -->
      <img src="../../assets/baner.png" height="420"/>
    </div>
  </div>

  <div class="row">
      <div >
       
      </div>
    <div class="col card-div">
      <img src="../../assets/1.png" (click)="clickCard('0')" />
    </div>
        <div class="col card-div">
          <img src="../../assets/2.png"  (click)="clickCard('1')"/>
        </div>
    <div class="col card-div">
      <img src="../../assets/3.png" (click)="clickCard('2')" />
    </div>
  </div>
    <div class="row">
      <div class="col card-div">
        <img src="../../assets/4.png" (click)="clickCard('3')" />
      </div>
      <div class="col card-div">
        <img src="../../assets/5.png" (click)="clickCard('4')" />
      </div>
    <div class="col card-div">
      <img src="../../assets/6.png" (click)="clickCard('5')" />
    </div>
  </div>
</div>
