<h1 dir="rtl">ההזמנות שלי</h1>
<h3 dir="rtl">סה"כ מכירות : {{ totalOrdersSum }} ש"ח  | מספר מכירות : {{ totalNumOfOrders }}  </h3>

<table class="table" >
  <thead >
    <tr >
      <th>לקוח</th>
      <th>תאריך</th>
      <th>שולם</th>
      <th>סכום הזמנה</th>
      <!-- <th></th> -->
    </tr>
  </thead> 
  <tbody>
    <tr *ngFor="let order of orders$ | async" >
      <td>{{ order.shipping.firstName }} {{order.shipping.lastName}} </td>
      <td>{{ order.datePlaced | date}}</td>
      <td>{{ order.ordersSuccess }} </td>
      <td>{{ order.totalOrderPrice }} ש"ח</td>
      <!-- <td>
        <a href="#">פרטים</a>
      </td> -->
    </tr>
  </tbody> 
</table>