<nav class="navbar navbar-expand-md navbar-light bg-light fixed-top">

  <div class="container container-bkg">
    <a class="navbar-brand" routerLink="/">
      <!-- <i class="fa fa-leaf" aria-hidden="true"></i> -->
      <i > <img src="../../../assets/logo.png"></i>
    </a>
    <!-- <button class="navbar-toggler navbar-toggler-right" 
    #navbarToggler
    type="button"
    data-toggle="collapse" 
    data-target="#navbarsExampleDefault" 
    aria-controls="navbarsExampleDefault" 
    aria-expanded="false"
     aria-label="Toggle navigation"

     >
      <span class="navbar-toggler-icon">collapse navbar-collapse</span>
    </button> -->
    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/shopping-cart">
            <i class="fa fa-shopping-cart" aria-hidden="true"></i>
            <span class="badge badge-warning badge-pill" *ngIf="cart$ | async as cart">
             
             <!-- מספר פריטים בעגלה {{ cart.totalItemsCount }} | סה"כ סכום {{ cart.totalPrice }} ש"ח -->
             מספר פריטים בעגלה 0 | סה"כ סכום 0 ש"ח
              
            </span>
          </a>
          <i> סכום לתשלום למסלול :0| סכום הקניה למסלול :  0 |  מסלול 0 </i>
          <!-- <i> סכום לתשלום למסלול : {{ programPrice }} | סכום הקניה למסלול :  {{ programLimit }} |  מסלול {{ programName }} </i> -->
        </li>
      </ul>
      <ul class="navbar-nav">
        <ng-template #anonymousUser>
          <input #userPassword="ngModel" name="userPassword" (ngModel)="userPassword" type="password" class="form-control" >
          <button  class="btn btn-outline-primary" (click)="checkAdmin(userPassword.value)">כניסת נציגות</button> 
          <li class="nav-item" >
            
          </li>
        </ng-template>
        <li ngbDropdown *ngIf="appUser; else anonymousUser" class="nav-item dropdown">
          <a ngbDropdownToggle class="nav-link dropdown-toggle" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{ appUser.name }}
          </a>
          <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdown01">
            <a class="dropdown-item" routerLink="/my/orders">הזמנות שלי</a>
            <a class="dropdown-item" routerLink="/my/form-worker">פרטים אישיים</a>
            <ng-container *ngIf="appUser.isAdmin">
              <a class="dropdown-item" routerLink="/admin/orders">ניהול הזמנות</a>
              <a class="dropdown-item" routerLink="/admin/orders-workers">דוח נציגות</a>
            </ng-container>
            <a class="dropdown-item" (click)="logout()">יציאה</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>