<div class="card">
  <div class="card-body">
    <h4 class="card-title">סיכום הזמנה</h4>
    <p class="card-text">יש לך {{ cart.totalItemsCount }} פריטים בעגלת הקניות שלך</p>
    <ul class="list-group list-group-flush">
      <li *ngFor="let item of cart.items" class="list-group-item">
        {{ item.quantity }} x {{ item.title }}
        <div class="float-right">
          {{ item.totalPrice | currency:'USD':true }}
        </div>
      </li>
      <li class="list-group-item font-weight-bold">
        סה"כ 
        <div class="float-right">
          {{ cart.totalPrice | currency:'USD':true }}
        </div>
      </li>
    </ul>
  </div>
</div>